body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.logo {
  color: #1877f2;
  font-size: 45px;
}

.card {
  background: white;
  width: 380px;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  margin-top: 10px;
  row-gap: 5px;
}

.sub {
  color: gray;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.row2 .password{
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}

.gender {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background: #42b72a;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.msg {
  color: red;
  margin: 10px 0;
}

.login {
  color: #1877f2;
}

.bottom {
  font-size: 20px;
}